html {position: relative;}
body {margin-bottom: 70px;}

#visi-misi {
    /* min-height: 600px; */
}

#biodata {
    min-height: 1000px;
}
/* Jumbotron */
.jumbotron {
    background-color: #2C91FB;
    color: white;
    position: relative;
    overflow: hidden;
}

.jumbotron .img-himakit {
    width: 180px;
}

.jumbotron h1 {
    margin-top: 20px;
    font-weight: bolder;
}

.jumbotron h6 {
    font-weight: bolder;
}

.jumbotron .wave {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
}

.jumbotron .wave1{
    z-index: 10;
    opacity: 1;
}
.jumbotron .wave2{
    z-index: 9;
    opacity: 0.5;
    left: 15%;
}
.jumbotron .wave3{
    z-index: 8;
    opacity: 0.2;
    left: 50%;
}
/* Akhir Jumbotron */


/* Visi - Misi */
#visi-misi {
    margin-top: 50px;
}

.visi, .misi {
    border-radius: 20px;
    /* box-shadow: 0px 0px 50px 0px rgba(189, 187, 187, 0.5); */
    box-shadow: 0 0 12px #ced3d6;
    padding: 20px;
    margin: 6px 2.5px;
}

.cont-misi .misi {
    margin-bottom: 50px;
}

.visi h6 {
    line-height: 25px;
    color: #696969;
}

.misi h6 {
    color: #696969;
}

hr {
    width: 150px;
    border-top: 3px solid #999;
}

.misi ol {
    padding-left: 20px;
    line-height: 30px;
}
.misi ol li {
    text-align: start;
}
/* Akhir Visi-Misi */

/* Biodata */
.judul-bio h1 {
    /* color: #2C91FB; */
    font-weight: bolder;
    text-transform: uppercase;
}
.col-md-12 hr {
    width: 200px;
    border-top: 3px solid #999; 
}

.bio-paslon table {
    color: #696969;
}

.biodata .bio-paslon {
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px rgba(189, 187, 187, 0.5);
    padding: 20px;
    margin: 10px;
}

.biodata .bio-paslon {
    margin-bottom: 30px;
}

.bio-paslon .img-paslon .img-port{
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.bio-paslon .img-paslon .img-sqr{
    width: 30%;
    margin: 0px auto 10px;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.bio-paslon .data-paslon h1 {
    font-weight: bolder;
}

.bio-paslon .data-paslon .resp-paslon {
    font-size: 2em;
}

.bio-paslon .data-paslon table {
    /* display: block; */
    font-size: 100%;
    margin: auto;
    /* overflow: auto; */
}

.nta {
    font-size: 1.6em;
}

.bio-paslon .data-paslon table ul {
    margin-block-end: 0px;
}

.social a {
  text-decoration: none;
  /* filter: hue-rotate(45deg); */
  /* border: 1px solid black; */
  margin: 10px 4px 0px;
}
.bio-paslon .fab {
  color: #343a40;
  font-size: 2.5em;
  transition: all 0.2s ease;
}
.bio-paslon .fab:hover {
  color: #2C91FB;
  cursor: pointer;
  text-decoration: none;
}
.bio-paslon .fab:active {
  color: #89f1a3;
}
/* Akhir Biodata */

/* PROKER */
#proker {
  /* min-height: 400px; */
}
#proker .container {
  margin-bottom: 20px;
}
.proker-wrapper {
  margin: 10px;
}
#proker .kartu {
  padding: 0px;
  /* border: 1px solid orange; */
}
.judul-proker {
  margin-bottom: -10px;
}
.proker {
  /* border: 1px solid black; */
  min-height: 200px;
  margin: 10px;
  border-radius: 7px;
  box-shadow: 0 0 12px #ced3d6;
  padding: 20px;
}
.proker h3 {
  font-weight: 650;
  color: #343a40;
  margin-bottom: 10px;
}
.proker p {
  color: #696969;
}
/* AKHIR PROKER */

/* PENDAFTARAN */
#pendaftaran .wrapper {
  padding: 0px;
  /* border: 1px solid black; */
  margin: 0 5px 20px;
}
.daftar-wrapper {
  /* border: 1px solid black; */
  min-height: 200px;
  margin: 10px;
  border-radius: 7px;
  box-shadow: 0 0 12px #ced3d6;
  padding: 20px;
}
.daftar-wrapper h3 {
  font-weight: 700;
  font-size: 2em;
}
.daftar-wrapper p {
  color: #696969;
}
.message-wrapper {
  margin: 0px auto;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}
.btn:hover {
  opacity: 1;
  color: white;
}
.message {
  padding: 15px 40px;
  background-color: #64afff;
  cursor: pointer;
  box-shadow: 0 7px #2360a1;
}
.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
/* AKHIR PENDAFTARAN */

/* Footer */
footer {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    background-color: #2C91FB;
    color: white;
    padding-top: 24px;
}

footer p {
    font-size: 1em;
}
/* Akhir Footer */

@media all and (max-width: 990px) {
  .proker {
    min-height: 0px;
  }
}

@media all and (max-width: 500px) {
  /* .pendaftaran-wrapper h3 {
    font-weight: 700;
    font-size: 1.8em;
  } */
}